<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../static/main.css">
</head>

<body>
    <div class="top-nav">
            <a href="home">Home</a>
            <a href="login">Log Out</a>
            <a href="browse">Browse listings</a>
            <a href="post">Post a listing</a>
            <i class="fa fa-bars"></i>
    </div>

    <div class="hero-bg">
        <section class="top">
            <header>
                <a href="#">Edu-Menu</a>
            </header>

            <h1><span>Welcome</span> Be a Sponsor</h1>

            <p>We are on a mission to empower students from disadvantaged backgrounds around the world.</p>
        </section>
    </div>
    <body>

      <div class="title">
        <h2 class="title">Listings</h2>
      </div>
        <div class="form-wrapper">


              <fieldset class="form-field">
                  <h2>
                    AQA Physics: A Level
                  </h2>
                  <p>
                      I am currently enrolled in Polyteknik Teknikal and I require a Physics textbook for my A Level exams.
                  </p>
                  <a href="details">Details</a>
                </fieldset>

              <fieldset class="form-field">
                <h2>
                    DataCamp: Introduction to SQL
                </h2>
                <p>
                    I am currently enrolled in ABC University. As I wish to transition into a career in data science,
                    I am looking to gain the necessary skills online through online courses.
                </p>
                <a href="details">Details</a>
              </fieldset>

              <fieldset class="form-field">
                <h2>
                    Kindle account
                </h2>
                <p>
                    I am an avid reader but I have limited access to books in my village. I am hoping that
                    I can get an online ebook account so that I can have a wider access to books of different types.
                </p>
                <a href="details">Details</a>
              </fieldset>

     	   <fieldset class="form-field">
                <h2>
                    Spotify 1 year subscription
                </h2>
                <p>
                    I am a student pursuing electronic music and I aspire to be a DJ in the future. However, I need a platform
                    to showcase my music and unofrtunately, my current financial situtation limits the platforms that I can use to
                    access a wider audience base.
                </p>
                <a href="details">Details</a>
            </fieldset>

            <fieldset class="form-field">
              <h2>
                  Casio Graphic Calculator
              </h2>
              <p>
                  Hi, I am a student who is currently pursuing a degree of Mathematics, I would love to have a Casio Graphic Calculator
                  that can help me to calculate matrices and statistic related calculations.
              </p>
              <a href="details">Details</a>
            </fieldset>

        </div>
</body>
</html>
