@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: lavender;
    background: url(https://img.freepik.com/free-vector/white-gray-marble-realistic-texture-background_107791-515.jpg?size=626&ext=jpg) no-repeat;
    background-size: cover;        
}

.top-nav a {
    display: inline-block;
    overflow: hidden;
    text-align: left;
    margin-top: .3em;
    margin-right: 2em;
    padding: .5em 1em;
    padding-bottom: 0em;
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 1.2rem;
}

.hero-bg {
    background: #307D99 url('https://wallpaperaccess.com/full/124412.jpg');
    background-size: cover;
    color: white;
    text-align: center;
    padding-bottom: 4em;
}

.hero-bg h1 {
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    margin: 2em 0 1.2em;
    margin-bottom: 0em;
}

h1 {
    font-size: 3rem;
    margin: 2em 0 1.2em;
}

.title {
    font-size: 2rem;
    margin-left: 0.7em;
}

.form-wrapper h2 {
    padding: 0em;
    padding-left: .8em;
}

.form-wrapper p {
    margin-left: 1em;
}

h2 {
    position: relative;
}

p {
    line-height: 2em;
}

.listing h2 {
    font-weight: bold;
    margin: 0 1em 3em;
    padding: 1em;
}

.listing p {
    margin: 0 1em 3em;
    margin-right: 20%;
    padding: 1em;
}

.details p {
    margin: 0 1em 3em;
    padding: 1em;
    color: darkslateblue;
}

input[type=button] {
    background-color: #F89104;
    border: none;
    width: 15%;
    color: white;
    font-weight: bold;
    padding: 1em 1em;
    margin-left: 1em;
    border-radius: .5em;
    font-size: 1.3em;
    float: centre;
    cursor: pointer;
}

.form-wrapper a {
        background-color:orange;
        color: white;
        padding: .5em;
        margin-left: 1em;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1rem;
}

.hero-bg h2 {
    color: white;
    margin-top: 1em;
    font-weight: bold;
    font-size: 1.2rem;
    padding-top: 1em;
}

.top {
    animation: fadeIn 2s forwards;
}

.middle {
    animation: fadeIn 2s forwards;
}

.bottom {
    animation: fadeIn 2s forwards;
}

.form-wrapper h2 {
    padding-top: 0em;
}

.overlay {
    position: absolute;
    height: 100vh;
    width: 100%;
    background: rgba(0,0,0,.9);
    z-index: 1;
    place-content: center;
    color: white;
    display: none;
    opacity: 0;
}

.animate-overlay {
    animation: overlay 3s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-2em);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes overlay {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
