@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.hero-bg {
    background: #307D99 url('https://wallpaperaccess.com/full/124412.jpg');
    background-size: cover;
    color: white;
    text-align: center;
    padding-bottom: 4em;
}

.top-nav a {
    text-align: left;
    margin-right: 2em;
    padding: 1em 2em;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header {
    padding: 1em 0;
}

.hero-bg a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
}

h1 {
    font-size: 3rem;
    margin: 2em 0 1.2em;
}

h1 span {
    text-transform: uppercase;
    display: block;
    font-size: 2.4rem;
    position: relative;
    z-index: 1;
}

h1 span::before {
    content: ' ';
    position: absolute;
    width: 5em;
    background: #00BFFF;
    height: .4em;
    bottom: 0;
    z-index: -1;
    margin-left: -.3em;
}

.hero-bg p {
    font-weight: bold;
    margin: 0 1em 3em;
}

input[type=button] {
    background-color: #F89104;
    border: none;
    width: 15%;
    color: white;
    font-weight: bold;
    padding: 1em 1em;
    margin-left: 24%;
    border-radius: .5em;
    font-size: 1.3em;
    float: centre;
    cursor: pointer;
}

input[type=button]:hover {
    background-color: rgb(216, 126, 1);
}

.bio {
    margin: 0;
}

.right-col {
    text-align: center;
    margin: 3em 1em;
}

h2 {
    text-transform: uppercase;
    position: relative;
}

h2::before {
    content: ' ';
    position: absolute;
    width: 7em;
    background: #00BFFF;
    height: .4em;
    bottom: 0;
    z-index: -1;
    margin-left: -.3em;
}

img {
    width: 100%;
}

p {
    line-height: 2em;
}

@media (min-width: 930px) {
    section.bio {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-areas:
            "bowl content";
    }

    .right-col {
        grid-area: content;
        padding: 0 10%;
        text-align: left;
        align-self: center;
    }

    img {
        grid-area: bowl;
    }

    h2 {
        margin: 0;
    }
}

.overlay {
    position: absolute;
    height: 100vh;
    width: 100%;
    background: rgba(0,0,0,.9);
    z-index: 1;
    place-content: center;
    color: white;
    display: none;
    opacity: 0;
}

.animate-overlay {
    animation: overlay 3s forwards;
}

.top {
    animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-2em);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes overlay {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}