<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../static/listing.css">
</head>

<body>
    <div class="listing">
        <section class="top">
            <h2>
                AQA Physics: A Level 
            </h2>

            <p>
                Name: Alia A/P Rimakushna
                <br>Institute: Polyteknik Teknikal
                <br>Location: Indonesia
            </p>
        </section>
    </div>

    <section class="middle">
        <div class="details">
            <p>
                I am currently enrolled in Polyteknik Teknikal and I require a Physics textbook for my A Level exams. 
                I have 7 siblings and due to the financial situation of my family, the cost of the book is too high
                for me to purchase. I will be sitting my A Level exams next year and this textbook will help me to
                acquire the knowledge required to ace the exam.
                <br>
                <br>Price per book: 30$
            </p>
        </div>
    </section>

    <section class="bottom">
        <div class="buttons">
            <input type="button" value="Sponsor" id="cta-btn">
        </div>
    </section>
</body>
</html>