<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../static/listing.css">
</head>

<body>
  <div class="top-nav">
    <a href="home">Home</a>
    <a href="browse">Browse listings</a>
    <a href="post">Post a listing</a>
    <a href="login">Log Out</a>
    <i class="fa fa-bars"></i>
  </div> 

  <div class="hero-bg">
    <section class="top">
        <h2>Dear Robin</h2>
        <h1>Be a sponsor now!</h1>
      </section>
  </div>

  <div class="title">
    <section class="middle">
      <h2 class="title">Listings</h2>
  </section>
  </div>
    <div class="form-wrapper">
      <section class="bottom">
          <fieldset class="form-field">
              <h2>
                AQA Physics: A Level
              </h2>
              <p>
                I am currently enrolled in Polyteknik Teknikal and I require a Physics textbook for my A Level exams.
              </p>
              <a href="details">Details</a>
            </fieldset>

          <fieldset class="form-field">
            <h2>
                DataCamp: Introduction to SQL
            </h2>
            <p>
                I am currently enrolled in ABC University. As I wish to transition into a career in data science,
                I am looking to gain the necessary skills online through online courses.
            </p>
            <a href="details">Details</a>
          </fieldset>

          <fieldset class="form-field">
            <h2>
                Kindle account
            </h2>
            <p>
                I am an avid reader but I have limited access to books in my village. I am hoping that
                I can get an online ebook account so that I can have a wider access to books of different types.
            </p>
            <a href="details">Details</a>
          </fieldset>

          <fieldset class="form-field">
              <h2>
                Casio Graphic Calculator
              </h2>
              <p>
                I am a student who is currently pursuing a degree in Mathematics. I would love to have a Casio Graphic Calculator
                that can help me calculate matrices and statistic related calculations.
              </p>
              <a href="details">Details</a>
          </fieldset> 
        </section>
    </div>
</body>
</html>
