<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../static/login.css">
  </head>
  
  <body>
    <div class="logo">
      <h2>
        Dear Robin
      </h2>
    </div>

    <div class="signup-box">
      <h1>Sign Up</h1>

      <div class="textbox">
        <i class="fas fa-user"></i>
        <input type="text" placeholder="First Name">
      </div>

      <div class="textbox">
        <i class="fas fa-user"></i>
        <input type="text" placeholder="Last Name">
      </div>

      <div class="textbox">
        <i class="far fa-envelope"></i>
        <input type="text" placeholder="Email">
      </div>

      <div class="textbox">
        <i class="fas fa-lock"></i>
        <input type="password" placeholder="Password">
      </div>

      <div class="textbox2">
        <i class="fas fa-lock"></i>
        <input type="password" placeholder="Retype Password">
      </div>

    <form action="/login">
      <input type="submit" class="btn" value="Sign up">
    </form>
    </div>
  </body>
</html>
